/*colors used/:
Primary color (Pink): #fa4144;
Secondary color (Black):#001622;
Secondary color (Grey): #707070 */
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  /* sets the font size to 16px */
  font-weight: 300;
  /* sets the font weight to 300 */
  line-height: 1.6;
  /* sets the line-height to 1.6 * the font-size */
  background-color: #ffffff;
  color: #001622;
}

h1,
h2,
h3,
h4
{
  line-height: 1.4;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.75em;
  font-weight: 600;
}

h2 {
  font-family: "Open sans", sans-serif;
  font-size: 2.25em;
  font-weight: 600;
}

h3 {
  font-family: "Open sans", sans-serif;
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-family: "Open sans", sans-serif;
  font-size: 1.35em;
  font-weight: 400;
}


a {
  color: #001622;
}

a:visited {
  /* visited link*/
  color: #001622;
}

a:hover,
a:focus {
  color: #fa4144;
  text-decoration: none;
}

a:active {
  color: #fa4144;
  background-color: #ffffff;
}

.button {
  display: inline-block;
  background-color: #ffffff;
  color: #fa4144 !important;
  font-weight: 400;
  padding: 10px 30px;
  border-radius: 4px;
  border-bottom: 2px solid #fa4144;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:visited {
  color: #fa4144;
}

.button:hover {
  opacity: 0.8;
}

.button.contact {
  display: inline;
  background-color: transparent;
  color: #fa4144;
  text-transform: none;
  border: 2px solid #fa4144;
}

.button.contact:hover {
  background-color: #fa4144;
  color: #ffffff;
}

img {
  width: 100%;
}

header {
  display:inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  background-color: #F2F2F2;
  text-align: center;
  padding: 10px 0;
  box-shadow:         4px 1px 5px 0px rgba(50, 50, 50, 0.67);
  position:fixed;
  width: 100%;
}

/* Layout styling*/
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25 px top and bottom, 0 left and right */
}

#project.row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

nav {
  display: inline-block;
  width: 100%
}

nav>ul {
  list-style-type: none;
}

nav>ul>li {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}

nav>ul>li>a {
  display: inline-block;
  padding: 0 11px;
  margin-top: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1em;
  color: #4a4a4a;
}

.hero {
  background-color: #F2F2F2;
  padding: 20px 0;
  display: inline-block;
  width: 100%
}

main {
  padding-top: 133px;
}

footer {
  text-align: left;
  display:inline-block;
  padding: 10px 0;
  background-color: #F2F2F2;
}

footer >ul{
  padding:0;
}

footer>ul>li {
  list-style-type: none;
}

footer> ul> li> a{
  display:inline-block;
  padding:0 11px;
  text-transform:none;
  font-size: .6em;
  font-weight: 600;
  color:#F2F2F2;
}

.social {
  list-style-type: none;
}

.social .fab {
  display: inline-block;
  font-size: 2em;
  list-style-type: none;
}
