/*colors used/:
Orangy Pink): #fa4144;#FE5F55
(Black):#001622;
soft yellow: #FFF3E0 */
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  /* sets the font size to 16px */
  font-weight: 300;
  /* sets the font weight to 300 */
  line-height: 1.6;
  /* sets the line-height to 1.6 * the font-size */
  background-color: #Fff;
  color: #001622E6;
}

.bodywordup {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  /* sets the font size to 16px */
  font-weight: 300;
  /* sets the font weight to 300 */
  line-height: 1.6;
  /* sets the line-height to 1.6 * the font-size */
  background-color: #3A389633;
  color: #001622;
}

.bodybears {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  /* sets the font size to 16px */
  font-weight: 300;
  /* sets the font weight to 300 */
  line-height: 1.6;
  /* sets the line-height to 1.6 * the font-size */
  background-color: #B9D6AD66;
  color: #001622;
}

.homehero-div picture{
  display:block;
  line-height: 0;
}
.homehero-div{
  position:absolute;
  bottom:0;
}

.hero-centered {
  position: absolute;
  top: 10%;
  z-index: 999999;
  /*left: 50%;
  transform: translate(-50%, -50%);*/
}
.scroll{
position: absolute;
bottom: 30px;
width: 100%;
}

.svg-bears {
  text-align: left;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Crimson Text', serif;
  font-size: 2.15em;
  font-weight: 600;
}

h2 {
  font-family: "Crimson Text", serif;
  font-size: 2em;
  font-weight: 400;
}

h3 {
  font-family: "Crimson Text", serif;
  font-size: 1.75em;
  font-weight: 400;
}

h4, .h4 {
  font-family: "Crimson Text", serif;
  font-size: 1.35em;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
/* ==============================
buttons and hyperlinks
================================= */
a {
  color: #001622;
}

a:visited {
  /* visited link*/
  color: #001622;
}

a:hover,
a:focus {
  color: #FE5F55;
  text-decoration: none;
}

a:active {
  color: #FE5F55;
}

.button {
  display: inline-block;
  background-color: #FEEEED;
  color: #FE5F55 !important;
  font-weight: 400;
  padding: 10px 30px;
  border-radius: 2px;
  border-bottom: 2px solid #FE5F55;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:visited {
  color: #FE5F55;
}

.button:hover {
  opacity: 0.7;
  color: #FE5F55;
}

.button.contact {
  display: inline-block;
  background-color: #FFF;
  text-transform: none;
  border: 1px solid #fff;
}

.button.contact:hover {
  background-color: #FE5F55;
  color: #FFF !important;
}

img {
  width: 100%;
}

.chefdj-img img {
  width: 55%;
  margin: auto;
  display: block;
}

.chefdj-img2 img {
  width: 85% margin: auto;
  display: block;
}

.wordup-img img {
  width: 75%;
  margin: auto;
  display: block;
}

/* ==============================
headers and footers and all that stuff
================================= */
header {
  background-color: #FE5F55;
  box-shadow: 4px 1px 5px 0px rgba(50, 50, 50, 0.67);
  position: fixed;
  width: 100%;
  padding: 10px 0 4px;
  z-index: 999;
}

.logo {
  font-family: 'Crimson text', serif;
  text-decoration: none;
  font-size: 28px;
}

a.logo {
  color: #FFF !important;
}

.logo span {
  display: none;
}

nav>ul {
  list-style-type: none;
  padding: 0px 5px 5px;
  margin: 0;
}

nav>ul>li>a {
  display: inline-block;
  padding: 0 15px;
  margin-top: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
  color: #FFF !important;
}

.navtoggle li a:hover{
  opacity: 0.7;
  transition: 0.2s linear;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #FFD97E66;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.div-wrapper img {
  position: relative;
  height: 300px;
  width: 300px;
}

.wrapper {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
}

footer {
  color: #fff;
  text-align: center;
  padding: 20px 0;
  background-color: #FE5F55;
}

.social ul {
  list-style-type: none;
  padding: 0;
  margin-top: 2em;
}

.social li {
  display: inline-block;
}

.social .fab {
  color: #fff;
  font-size: 2em;
  list-style-type: none;
  margin: 0 10px;
}

.copyright {
  font-size: 70%;
}

.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.video-div {
  width: 70%;
  margin: 0 auto;
  display: block;
}

/* ==============================
body layout stuff
================================= */
.container {
  padding: 0 15px;
}

.bodybears section:nth-of-type(even) {
  background-color: #FFF;
}
.wordup-logo img{
  width:55%;
}
/* 25 px top and bottom, 0 left and right */
.row::after {
  content: "";
  clear: both;
  display: table;
}

main {
  padding-top: 56px;
}

.project {
  background-color: #FEEEED;
  padding: 20px 0;
}

.project h2 {
  text-align: center;
}

.project .row {
  padding-bottom: 25px;
  border: 2px solid #FE5F5566;
  background-color: #FFF;
  padding: 2em 1em;
  border-radius: 5px;
  margin: 55px 0;
}

.project img {
  border: 2px solid #FED6D4;
  border-radius: 15px;
}

.project-page img {
  border-radius: 15px;
}

.small-image {
  display: inline-block;
}

.small-image img {
  max-width: 150px;
}

.flex-column {
  display: flex;
  align-items: center;
  margin: 1.5em;
}

.hero {
  position: relative;
  text-align: center;
  background-color: #FFD97E;
  color: #001622E6;
  padding: 0;
  min-height: 450px;
}

#hero {
  text-align: center;
}

#hero span {
  display: block;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.wrap {
  display: flex;
  align-items: center
}

.paragraph-space {
  margin-bottom: 40px;
}

section {
  padding: 30px 0;
}

.three-columns h2 {
  text-align: center;
}

.three-columns svg {
  text-align: center;
  width: 100%;
  margin-top: 2em;
}

.heroword {
  text-align: left;
  background-color: #7775B666;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

/* ==============================
chefdj
================================= */
.herochef .flex-column h1 {
  margin-right: 3em;
}

.herochef .small-image img {
  margin-top: 0;
}

.herochef {
  background-color: #F9C74F33;
}

.herochef h2, .herochef h3 {
  text-align: left;
}

.herochef .two-column img {
  max-width: 45%;
  float: left;
  padding: 0 10px;
  border-radius: 15px;
}

.sectionchef {
  background-color: #F9C74F33;
}

.bodychefdj {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  /* sets the font size to 16px */
  font-weight: 300;
  /* sets the font weight to 300 */
  line-height: 1.6;
  /* sets the line-height to 1.6 * the font-size */
  background-color: #FFF3E0;
  color: #001622;
}

.pics2-grid {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
}

.pics2-grid img {
  padding: 5px;
}

.abtest-img img {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pg-morespace {
  margin-bottom: 50px
}

.flex-container-bears {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.bodychefdj #section-2 .column {
  padding: 25px 0;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wordup-row {
  padding: 5px;
}
/* ==============================
annimations for bearable savings and ChefDj logos
================================= */

.shake-slow {
  display: inline-block;
  transform-origin: center center;
}

@keyframes shake-slow {
  2% {
    transform: translate(2px, 1px) rotate(-0.5deg);
  }

  4% {
    transform: translate(-5px, -9px) rotate(-2.5deg);
  }

  6% {
    transform: translate(5px, 3px) rotate(2.5deg);
  }

  8% {
    transform: translate(5px, 4px) rotate(1.5deg);
  }

  10% {
    transform: translate(-4px, -8px) rotate(-0.5deg);
  }

  12% {
    transform: translate(-2px, -9px) rotate(1.5deg);
  }

  14% {
    transform: translate(0px, 6px) rotate(3.5deg);
  }

  16% {
    transform: translate(8px, 2px) rotate(2.5deg);
  }

  18% {
    transform: translate(-4px, -1px) rotate(1.5deg);
  }

  20% {
    transform: translate(10px, 2px) rotate(-2.5deg);
  }

  22% {
    transform: translate(-2px, -4px) rotate(1.5deg);
  }

  24% {
    transform: translate(-8px, 5px) rotate(-0.5deg);
  }

  26% {
    transform: translate(-3px, -5px) rotate(3.5deg);
  }

  28% {
    transform: translate(6px, 2px) rotate(2.5deg);
  }

  30% {
    transform: translate(-5px, -2px) rotate(2.5deg);
  }

  32% {
    transform: translate(5px, -6px) rotate(-2.5deg);
  }

  34% {
    transform: translate(5px, -7px) rotate(-1.5deg);
  }

  36% {
    transform: translate(3px, -9px) rotate(0.5deg);
  }

  38% {
    transform: translate(6px, -2px) rotate(-0.5deg);
  }

  40% {
    transform: translate(-4px, -2px) rotate(0.5deg);
  }

  42% {
    transform: translate(7px, -8px) rotate(1.5deg);
  }

  44% {
    transform: translate(-4px, 10px) rotate(-1.5deg);
  }

  46% {
    transform: translate(-3px, 8px) rotate(-1.5deg);
  }

  48% {
    transform: translate(3px, 6px) rotate(-0.5deg);
  }

  50% {
    transform: translate(4px, -1px) rotate(-2.5deg);
  }

  52% {
    transform: translate(1px, 5px) rotate(-0.5deg);
  }

  54% {
    transform: translate(-3px, 7px) rotate(-2.5deg);
  }

  56% {
    transform: translate(3px, 3px) rotate(-2.5deg);
  }

  58% {
    transform: translate(-8px, -5px) rotate(-1.5deg);
  }

  60% {
    transform: translate(1px, -9px) rotate(3.5deg);
  }

  62% {
    transform: translate(0px, -3px) rotate(-0.5deg);
  }

  64% {
    transform: translate(4px, 2px) rotate(2.5deg);
  }

  66% {
    transform: translate(4px, 10px) rotate(1.5deg);
  }

  68% {
    transform: translate(1px, 2px) rotate(-2.5deg);
  }

  70% {
    transform: translate(-9px, 10px) rotate(0.5deg);
  }

  72% {
    transform: translate(-5px, -8px) rotate(0.5deg);
  }

  74% {
    transform: translate(-3px, -8px) rotate(3.5deg);
  }

  76% {
    transform: translate(-1px, 8px) rotate(3.5deg);
  }

  78% {
    transform: translate(-5px, -4px) rotate(0.5deg);
  }

  80% {
    transform: translate(-6px, 1px) rotate(1.5deg);
  }

  82% {
    transform: translate(-5px, -7px) rotate(1.5deg);
  }

  84% {
    transform: translate(1px, -6px) rotate(-0.5deg);
  }

  86% {
    transform: translate(-8px, -4px) rotate(3.5deg);
  }

  88% {
    transform: translate(-6px, 7px) rotate(-1.5deg);
  }

  90% {
    transform: translate(9px, 6px) rotate(-2.5deg);
  }

  92% {
    transform: translate(9px, -8px) rotate(3.5deg);
  }

  94% {
    transform: translate(3px, 3px) rotate(2.5deg);
  }

  96% {
    transform: translate(-6px, -7px) rotate(2.5deg);
  }

  98% {
    transform: translate(5px, -2px) rotate(-0.5deg);
  }

  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}

.shake-slow:hover,
.shake-trigger:hover .shake-slow, .shake-slow.shake-freeze, .shake-slow.shake-constant {
  animation-name: shake-slow;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
/* ==============================
annimations for index page
================================= */
.flier {
  pointer-events: none;
}

.flier {
  animation: fly 50s linear infinite;
  pointer-events: none !important;
  top: 0;
  left: 0;
  transform: translateX(-120%) translateY(-120%) rotateZ(0);
  position: fixed;
  animation-delay: 1s;
  z-index: 999999;
}

@keyframes float1 {
  from {
    transform: translateX(-50px);
  }

  to {
    transform: translateX(50px);
  }
}

@keyframes float2 {
  from {
    transform: translateX(50px);
  }

  to {
    transform: translateX(-50px);
  }
}

@keyframes fly {
  98.001%, 0% {
    display: block;
    transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
  }

  15% {
    transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
  }

  15.001%, 18% {
    transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
  }

  40% {
    transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
  }

  40.001%, 43% {
    transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
  }

  65% {
    transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
  }

  65.001%, 68% {
    transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
  }

  95% {
    transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
  }
}

.cloud1 {
  width: 550px;
  height: 150px;
  position: absolute;
  top: 150px;
  right: -20px;
  animation: float2 5s ease-in-out forwards;
}

.cloud2 {
  width: 500px;
  height: 100px;
  position: absolute;
  top: 300px;
  left: 25px;
  animation: float1 5s ease-in-out forwards;
}

@keyframes float1 {
  from {
    transform: translateX(-25px);
  }

  to {
    transform: translateX(150px);
  }
}

@keyframes float2 {
  from {
    transform: translateX(150px);
  }

  to {
    transform: translateX(-85px);
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0;
  }

  .hero{
    min-height: 650px;
        max-width: 100%;
  }
  .hero-centered {
    top: 25%;
    width: 100%;
  }
  .cloud1 {
      width: 550px;
      top: 90px;
      right: -20px;
  }
  .cloud2 {
    top: 300px;
    left: -100px;
  }
  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }

  .bodychefdj #section-2 .column {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }

  .svg-icon {
    display: inline-flex;
    align-self: center;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 5px;
  }

  nav>ul>li {
    display: inline-block;
    padding: 10px 15px 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

.navtoggle.responsive nav {
  padding-top: 0;
}

.navtoggle.responsive li{
  padding: 10px 15px 0;
  border-top: none;
}

  .logo span {
    display: inline;
  }

  main {
    padding-top: 44px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .project-page h2, .project-page p, .project-page h3, .svg-image, .project-page section:first-child .column {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .project-page .svg-image {
    width: auto;
  }

  .pics img {
    border-radius: 30px;
    max-width: 33.33%;
    float: left;
    padding: 0 10px;
  }

  .pics2 img {
    max-width: 100%;
    float: left;
    padding: 0 10px;
    border-radius: 15px;
  }

  .pic3 img {
    float: right;
  }

  .intro {
    display: flex;
    align-items: center;
  }

  .herochef h1 {
    margin-right: 30px;
  }

  .pics4 img {
    display: flex;
    justify-content: center;
  }

  .pics-smaller img {
    max-width: 80%;
  }

  .pics-smaller {
    text-align: center;
  }

  #about-page h3 {
    margin-top: 0;
  }

  .story h2 {
    margin-top: 0;
  }

  .pics2-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: center;
  }

  .abtest-img img {
    width: 50%;
    display: block;
    margin: auto;
  }

  .ab-grid {
    display: grid;
    grid-template-columns: auto auto;
  }

  .abtest1-img1 img {
    float: right;
  }

  .abtest1-img2 img {
    float: left;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .hero-centered {
    top: 20%;
  }

  .cloud2 {
    left: -100px;
  }
  .space-word picture{
    bottom:30px;
  }
  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-11 {
    width: 91.66%;
  }

  .col-lg-12 {
    width: 100%;
  }

  #about-page h3 {
    margin-top: 0;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .bodychefdj #section-2 .column {
    padding: 25px;
  }

  .pics2-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }

  .row {
    padding: 70px;
  }

  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

h2 {
  text-align: center;
}

.small-screens {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75%;
}

/* ==============================
  X-large devices (1440px or larger)
  ================================= */
@media only screen and (min-width: 1400px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .col-xl-4 {
    width: 50%;
  }
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width 1920px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
}
